#dark {
    background: #f3ebf6;
    color:black;
}

#dark h1,
#dark .todo-input
{color:black;}

#dark .todo-input::placeholder {
    color: #989898;
}

/* #dark .todo-btn,
#dark .Todo {
    background-color: #39024d;
} */